body {
  background-image: url(./background.jpg);
  background-size: cover;
}

main {
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  width: 600px;
  height: 600px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 20px solid rgb(224, 104, 18);
}

/* To position A B C ... G H on top & 
   1 2 3 ... 8 left and right* */
.row-odd div,
.row-even div {
  position: relative;
}

/* To position A B C ... G H on top */
.position-top {
  color: white;
  position: absolute;
  top: -35px;
}

/* To position A B C ... G H on bottom */
.position-bottom {
  color: white;
  position: absolute;
  bottom: -35px;
}

.row-even,
.row-odd {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.row-even div:nth-child(odd),
.row-odd div:nth-child(even) {
  background-color: #769656;
}

.row-even div:nth-child(even),
.row-odd div:nth-child(odd) {
  background-color: white;
}

/* To position 1 2 3 ... 8 left */
.row-even div:first-child p:first-child,
.row-odd div:first-child p:first-child {
  position: absolute;
  color: white;
  left: -14px;
}

/* To position 1 2 3 ... 8 left */
.row-even div:last-child p:last-child,
.row-odd div:last-child p:last-child {
  position: absolute;
  color: white;
  right: -14px;
}

.row-even div,
.row-odd div {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

/* Note:
  + transition: property duration effect delay

*/

/* .rook_black {
  transition: transform 3s ease-in 3s;
  transform: translateY(200%);
}

.knight_black {
  transition: transform 6s ease-out;
  transform: translateY(200%);
  transition: transofrm 0.5s ease-out;
  transform: translateX(100%);
} */
